$white: #ffffff; // _white
$off-white: #f2f0f0; //
$bright-red: #ff084f; //
$red: #ff0d41; //
$blue: #048ea5; // eastern_blue
$gold: #faab2e; // lightning_yellow
$teal: #16706d; // blue_stone
$green: #2fba49; // lime-green
$med-dark-grey: #5a5b5b; // zambezi
$dark-grey: #343535; // night_rider
$black: #181919; // nero
$dark-black: #0c0c0c; // _black

$named-colors: (
  "white": $white,
  "bright-red": $bright-red,
  "red": $red,
  "blue": $blue,
  "gold": $gold,
  "teal": $teal,
  "green": $green,
  "med-dark-grey": $med-dark-grey,
  "dark-grey": $dark-grey,
  "black": $black,
  "dark-black": $dark-black
);

$subtle: $med-dark-grey;
$success: $green;
$calm: $blue;
$warning: $gold;
$plain: $black;
$danger: $red;
$primary: $bright-red;
$secondary: $teal;

$contextual-colors: (
  "subtle": $subtle,
  "success": $success,
  "calm": $calm,
  "warning": $warning,
  "plain": $plain,
  "danger": $danger,
  "primary": $primary,
  "secondary": $secondary,
);

// Automatically invoke the above -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

@mixin colorClass ($colorName, $color) {
  .text-#{$colorName} { color: $color; };
  .background-#{$colorName} { background-color: $color; }
  .border-#{$colorName} { border: 1px solid $color; }
  .border-color-#{$colorName} { border-color: $color; }
}

@mixin colorClasses ($list) {
  @each $colorName, $color in $list {
    @include colorClass($colorName, $color);
  }
}

@include colorClasses($named-colors);
@include colorClasses($contextual-colors);
